* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
.contactUs {
    height: 100vh auto;
    width: 91%;
    margin: 60px auto;
    margin-bottom: 50px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 1 1 10px rgba(0, 0, 0, 0.5);
}

.contactUs h2 {
    text-align: center;
    font-size: 2.5 rem; 
    font-weight: 600;
    margin-bottom: 20px;
}

.contactContainer {
    display: flex;
    justify-content: space-between;
}

.contactInfo {
    flex: 1;
    margin-right: 20px;
}

.infoItem {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.infoItem i {
    font-size: 24px;
    margin-right: 10px;
}

.contactForm {
    flex: 1;
}

.contactForm form {
    display: flex;
    flex-direction: column;
}

.contactForm input, .contactForm textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contactForm textarea {
    height: 100px;
}

.contactForm button {
    padding: 10px;
    border: none;
    background: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.contactForm button:hover {
    background: #0056b3;
}
