body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.App {
    text-align: center;
    padding: 20px;
    margin: 20px auto;
}

.section {
    background: #fff;
    padding: 20px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.section-title {
    text-align: center;
    font: bold;
    color: #010203;
    margin-bottom: 20px;
    font-size: 2.5rem;
    font-weight: bold;
}

.gallery-component {
    background: #fff;
    padding: 20px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: inset gray;
    max-width: 1200px;
    width: 100%;
}
.gallery-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.image-container {
    position: relative;
    margin: 10px;
}

.gallery-image {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.gallery-image:hover {
    transform: scale(1.05);
}

.description {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 0 0 5px 5px;
}

.image-container:hover .description {
    opacity: 1;
}

.dropdown-container {
    text-align: center;
    margin-top: 20px;
}

.button {
    padding: 5px 10px;
    border: none;
    background: #287908;
    color: #fff;
    border-radius: 5px;
    width: 100px;
    cursor: pointer;
    transition: background 0.3s;
}

.button:hover {
    background: #0056b3;
}

.input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}

.upload-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
